@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ---------------Center items--------------- */

.center-top {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-bottom {
  display: flex;
  justify-content: center;
  align-items: end;
}

/* ---------------Website container--------------- */

.container-center {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  padding: 1.25rem/* 20px */;
}

@media (min-width: 640px) {
  .container-center {
      max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container-center {
      max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container-center {
      max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container-center {
      max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container-center {
      max-width: 1536px;
  }
}